@using Microsoft.AspNet.Identity
@using BugTracker.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- MetisMenu CSS -->
    @* <link href="~/Content/Template/vendor/metisMenu/metisMenu.css" rel="stylesheet">*@
    <link type="text/css" rel="stylesheet" href="~/Content/animate.css"/>
    <!-- Custom CSS -->
    <link href="~/Content/Template/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    @*<link href="../vendor/morrisjs/morris.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Custom Fonts -->
    @*<link href="~/Content/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*@

</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bug Tracker</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <!-- /.dropdown -->
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Project Manager")))
            {

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href=@Url.Action("Create","Projects")>
                                <div>
                                    <i class="fa fa-plus-square fa-fw"></i> Add project
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Index","UserManager",null)">
                                <div>
                                    <i class="fa fa-user-edit fa-fw"></i> Manage users
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
            }
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user" style="min-width: 212px;">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <li>
                                <a title="Manage" href=@Url.Action("Index", "Manage",routeValues: null)><i class="fa fa-user fa-fw"></i>@User.Identity.GetUserDsiplayName()</a>
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log out</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }



                    @*<li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>*@
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input id="search-bar" type="text" class="form-control" placeholder="Search...">
                            <select id="lunch" class="selectpicker form-control" data-live-search="true" title="Please select a lunch ...">
                                <option value="@Url.Action("Index","Projects")">Projects</option>
                                <option value="@Url.Action("Index","Tickets")">Tickets</option>

                            </select>
                            <span class="input-group-btn">
                                <button id="srch-btn" class="btn btn-default" type="button" style="height: 68px; margin-left: 0px;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>

                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User roles<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href=@Url.Action("SwitchUser","Account",new { role =  "Project Manager"})><i class="far fa-dot-circle fa-fw"></i> Project Manager</a>
                            </li>
                            <li>
                                <a href=@Url.Action("SwitchUser","Account",new { role = "Submitter" })><i class="far fa-dot-circle fa-fw"></i> Submitter</a>
                            </li>
                            <li>
                                <a href=@Url.Action("SwitchUser","Account",new { role = "Developer" })><i class="far fa-dot-circle fa-fw"></i> Developer</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Projects")"><i class="fa fa-sitemap fa-fw"></i> Projects</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Tickets<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @if (User.IsInRole("Submitter") && User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href=@Url.Action("MyTickets","Tickets")><i class="far fa-dot-circle fa-fw"></i> Your tickets</a>
                                    </li>
                                }

                                @if (User.IsInRole("Developer") && User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href=@Url.Action("MyTickets","Tickets")><i class="far fa-dot-circle fa-fw"></i> Tickets assigned to you</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("MyProjectsTickets","Tickets")><i class="far fa-dot-circle fa-fw"></i> Tickets on your projects</a>
                                    </li>
                                }

                                @if (User.IsInRole("Project Manager") && User.Identity.IsAuthenticated)
                                {

                                    <li>
                                        <a href=@Url.Action("MyProjectsTickets","Tickets")><i class="far fa-dot-circle fa-fw"></i> Tickets on your projects</a>
                                    </li>
                                }


                                <li>
                                    <a href=@Url.Action("Index", "Tickets")><i class="far fa-dot-circle fa-fw"></i> All tickets</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    }
                    <li>
                        <a href=@Url.Action("Index", "Notify")><i class="fas fa-tachometer-alt fa-fw"></i> SEND TEST NOTIFY</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>



    @RenderBody()





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/Template/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    @*<script src="../vendor/raphael/raphael.min.js"></script>*@
    @*<script src="../vendor/morrisjs/morris.min.js"></script>*@
    @*<script src="../data/morris-data.js"></script>*@

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/Template/dist/js/sb-admin-2.min.js"></script>
    @*my script*@
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/notify.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
