<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

@using Highsoft.Web.Mvc.Charts


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard:</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                @(Html.Highsoft().GetHighcharts(
                                                                   new Highcharts
                                                                   {
                                                                       Chart = new Highsoft.Web.Mvc.Charts.Chart
                                                                       {
                                                                           PlotBackgroundColor = "#ffffff",
                                                                           PlotBorderWidth = null


                                                                       },
                                                                       Exporting = new Exporting
                                                                       {
                                                                           Enabled = false
                                                                       },
                                                                       Lang = new Lang
                                                                       {
                                                                           NoData = "There is no data to display."
                                                                       },
                                                                       Title = new Title
                                                                       {
                                                                           Text = "Projects by types:"
                                                                       },
                                                                       Tooltip = new Tooltip
                                                                       {
                                                                           PointFormat = "{series.name}: <b>{point.y:f}</b>"
                                                                       },
                                                                       PlotOptions = new PlotOptions
                                                                       {
                                                                           Pie = new PlotOptionsPie
                                                                           {
                                                                               AllowPointSelect = true,
                                                                               Cursor = PlotOptionsPieCursor.Pointer,
                                                                               DataLabels = new PlotOptionsPieDataLabels
                                                                               {
                                                                                   Enabled = false
                                                                               },
                                                                               ShowInLegend = true
                                                                           }
                                                                       },

                                                                       YAxis = new List<YAxis>
                                                                       {
                                                new YAxis
                                                {
                                                    Min = 0,
                                                    Title = new YAxisTitle
                                                    {
                                                        Text = "Population (millions)",
                                                        Align = YAxisTitleAlign.High
                                                    }
                                                }
                                                                       },
                                                                       Series = new List<Series>
                                                                       {
                                                new PieSeries
                                                {
                                                    Name = "Pojects",
                                                    Data = @ViewData["pieProjects"] as List<PieSeriesData>
                                                },

                                                                       }
                                                                   }
                                                                   , "projTypes")
                )
            </div>
            <div class="col-md-6">
                @(Html.Highsoft().GetHighcharts(
                                                                   new Highcharts
                                                                   {
                                                                       Chart = new Highsoft.Web.Mvc.Charts.Chart
                                                                       {
                                                                           PlotBackgroundColor = "#ffffff",
                                                                           PlotBorderWidth = null


                                                                       },
                                                                       Exporting = new Exporting
                                                                       {
                                                                           Enabled = false
                                                                       },

                                                                       Lang = new Lang
                                                                       {
                                                                           NoData = "There is no data to display."
                                                                       },
                                                                       Title = new Title
                                                                       {
                                                                           Text = "Tickets by types:"
                                                                       },
                                                                       Tooltip = new Tooltip
                                                                       {
                                                                           PointFormat = "{series.name}: <b>{point.y:f}</b>"
                                                                       },
                                                                       PlotOptions = new PlotOptions
                                                                       {
                                                                           Pie = new PlotOptionsPie
                                                                           {
                                                                               AllowPointSelect = true,
                                                                               Cursor = PlotOptionsPieCursor.Pointer,
                                                                               DataLabels = new PlotOptionsPieDataLabels
                                                                               {
                                                                                   Enabled = false
                                                                               },
                                                                               ShowInLegend = true
                                                                           }
                                                                       },

                                                                       YAxis = new List<YAxis>
                                                                       {
                                                new YAxis
                                                {
                                                    Min = 0,
                                                    Title = new YAxisTitle
                                                    {
                                                        Text = "Population (millions)",
                                                        Align = YAxisTitleAlign.High
                                                    }


                                                }
                                                                       },
                                                                       Series = new List<Series>
                                                                       {
                                                new PieSeries
                                                {
                                                    Name = "Tickets",
                                                    Data = @ViewData["pieTicketType"] as List<PieSeriesData>


                                                },

                                                                       }
                                                                   }
                                                                   , "ticketTypes")
                )
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @(Html.Highsoft().GetHighcharts(
                                                                   new Highcharts
                                                                   {
                                                                       Chart = new Highsoft.Web.Mvc.Charts.Chart
                                                                       {
                                                                           PlotBackgroundColor = "#ffffff",
                                                                           PlotBorderWidth = null


                                                                       },
                                                                       Exporting = new Exporting
                                                                       {
                                                                           Enabled = false
                                                                       },
                                                                       Lang = new Lang
                                                                       {
                                                                           NoData = "There is no data to display."
                                                                       },
                                                                       Title = new Title
                                                                       {
                                                                           Text = "Tickets by status:"
                                                                       },
                                                                       Tooltip = new Tooltip
                                                                       {
                                                                           PointFormat = "{series.name}: <b>{point.y:f}</b>"
                                                                       },
                                                                       PlotOptions = new PlotOptions
                                                                       {
                                                                           Pie = new PlotOptionsPie
                                                                           {
                                                                               AllowPointSelect = true,
                                                                               Cursor = PlotOptionsPieCursor.Pointer,
                                                                               DataLabels = new PlotOptionsPieDataLabels
                                                                               {
                                                                                   Enabled = false
                                                                               },
                                                                               ShowInLegend = true
                                                                           }
                                                                       },

                                                                       YAxis = new List<YAxis>
                                                                       {
                                                new YAxis
                                                {
                                                    Min = 0,
                                                    Title = new YAxisTitle
                                                    {
                                                        Text = "Population (millions)",
                                                        Align = YAxisTitleAlign.High
                                                    }
                                                }
                                                                       },
                                                                       Series = new List<Series>
                                                                       {
                                                new PieSeries
                                                {
                                                    Name = "Tickets",
                                                    Data = @ViewData["pieTicketStatus"] as List<PieSeriesData>
                                                },

                                                                       }
                                                                   }
                                                                   , "ticketStatus")
                )
            </div>
            <div class="col-md-6">
                @(Html.Highsoft().GetHighcharts(
                                                                   new Highcharts
                                                                   {
                                                                       Chart = new Highsoft.Web.Mvc.Charts.Chart
                                                                       {
                                                                           PlotBackgroundColor = "#ffffff",
                                                                           PlotBorderWidth = null


                                                                       },
                                                                       Exporting = new Exporting
                                                                       {
                                                                           Enabled = false
                                                                       },

                                                                       Lang = new Lang
                                                                       {
                                                                           NoData = "There is no data to display."
                                                                       },
                                                                       Title = new Title
                                                                       {
                                                                           Text = "Tickets by priority:"
                                                                       },
                                                                       Tooltip = new Tooltip
                                                                       {
                                                                           PointFormat = "{series.name}: <b>{point.y:f}</b>"
                                                                       },
                                                                       PlotOptions = new PlotOptions
                                                                       {
                                                                           Pie = new PlotOptionsPie
                                                                           {
                                                                               AllowPointSelect = true,
                                                                               Cursor = PlotOptionsPieCursor.Pointer,
                                                                               DataLabels = new PlotOptionsPieDataLabels
                                                                               {
                                                                                   Enabled = false
                                                                               },
                                                                               ShowInLegend = true
                                                                           }
                                                                       },

                                                                       YAxis = new List<YAxis>
                                                                       {
                                                new YAxis
                                                {
                                                    Min = 0,
                                                    Title = new YAxisTitle
                                                    {
                                                        Text = "Population (millions)",
                                                        Align = YAxisTitleAlign.High
                                                    }


                                                }
                                                                       },
                                                                       Series = new List<Series>
                                                                       {
                                                new PieSeries
                                                {
                                                    Name = "Tickets",
                                                    Data = @ViewData["pieTicketPriority"] as List<PieSeriesData>


                                                },

                                                                       }
                                                                   }
                                                                   , "ticketPrior")
                )
            </div>
        </div>
    </div>
</div>