@model BugTracker.Models.Project
    @{ 
        var ticket = Model.Tickets.ToArray();
    }




<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project "@Model.Name" details.</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="">
        <div class="row extra-pad">

            <h4>Author: @Model.Author.DisplayName</h4>
            <h4>Created on: @Model.Created.ToString("dd-MM-yyyy")</h4>
            @if (Model.Updated != null)

            {
                <h4>Last update: @Model.Updated</h4>
            }
            <h4>Project type: @Model.ProjectType.Type</h4>
            <hr />
            <h4>Description:</h4>
            <p>@Model.Description</p>
            <hr />
            <h4>Project opened tickets:</h4>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Project opened tickets:
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                @for (int i = 0; i < ticket.Count(); i++)
                                {

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i">@ticket[i].Title <span class="pull-right">Created by @ticket[i].Author.DisplayName.  Date:  @ticket[i].Created.ToString("dd-MM-yyyy")</span></a>
                                        </h4>
                                    </div>
                                    <div class="panel-heading">
                                        <h6 class="panel-title panel-links">
                                            <a href=@Url.Action("Details","Tickets",new { id = ticket[i].Id }) class="ticket-link"><i class="fas fa-info-circle fa-fw"></i> Details </a>
                                            <a href=@Url.Action("Edit","Tickets",new { id = ticket[i].Id }) class="ticket-link"><i class="fas fa-edit fa-fw"></i> Edit </a>
                                            <a href=@Url.Action("AssignDeveloper","Tickets",new { id = ticket[i].Id }) class="ticket-link"><i class="fas fa-plus-circle fa-fw"></i> Assign developer </a>
                                            <a href=@Url.Action("ChangeStatus","Tickets",new { id = ticket[i].Id }) class="ticket-link"><i class="fas fa-clipboard-check fa-fw"></i> Change status</a>
                                        </h6>
                                    </div>
                                    <div id="collapse-@i" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            @ticket[i].Description
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <p>
                @if (User.IsInRole("Project Manager") && User.Identity.IsAuthenticated)
                {

                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id });
                }
                @Html.ActionLink("Back to List", "Index")
            </p>


        </div>
    </div>
</div>

